[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=XrossBoard
Comment=Cross Platform 2ch browser
Icon=%%%xrossboardexecrcdir%%%/xrossboard.xpm
Exec=xrossboard
Categories=Application;Network;
StartupNotify=true